<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1595422656453-90448f373188?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);">
  <div class="container w-50">
    <%= form_tag superstars_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your Superstar..."
        %>
      <br>
      <p class= "search-text"><%= submit_tag "Search", class: "btn confirm-pick" %></p>
    <% end %>
  </div>
</div>


  <h1 class="page-title text-center mt-5 indexpagetitle">All SuperStars</h1>
  <h4 class ="secondary-title text-center mt-2 indexpagesecondtitle"> Pick one to star in your super event!</h4>

  <br>

  <br>

  <div class="container">
    <div class="d-flex">
      <div class="row justify-content-between">
          <% @superstars.each do |superstar| %>
            <div class="card" style="width: 18rem;">
              <%= image_tag superstar.image_url, class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= superstar.name.upcase %></h5>
                <p class="card-text"> <%= superstar.event_type.capitalize %> </p>
                <%= link_to 'Pick Me!', superstar, class:"btn confirm-pick"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <br>
  <br>
  <br>

</div>
