<div class="container">
  <div class="row text-center mt-5">
    <div class="col-sm-8 text-left">
      <h3 class="mb-4">Make a new booking for <%= @superstar.name %> </h3>
      <%= image_tag @superstar.image_url, class: "avatar-large mb-4", alt: "avatar-large" %>
      <p> I am available for <strong><%= @superstar.event_type %></strong></p>
      <p> Bio: <%= @superstar.bio %></p>
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <br>
      <h2><strong>€ <%= @superstar.price %></strong></h2>
      <p>Available in: <%= @superstar.region %></p>
    </div>
  </div>
  <br>

  <h4> When would you like to book <%= @superstar.name %> ? </h4>
    <%= simple_form_for([@superstar, @booking]) do |f| %>
      <%= f.input :event_date %>
      <div class="d-flex mt-5">
      <p><%= f.submit "Book Superstar", class: 'btn btn-dark mr-3' %></p>
      <% end %>
    <%= link_to 'Find other Superstars', superstars_path, class:'btn btn-dark h-100'%>
  </div>
</div>
