<html>
  <div class="container d-flex justify-content-between left-text mt-4">
    <div>
    <h4 class="booking-title"> <%= @superstar.name.upcase %>
    </h4>
        <%= image_tag @superstar.image_url, class: "avatar-large mb-4", alt: "avatar-large" %>
        <p class =showpage-texts> <strong>Event Type:</strong> <%= @superstar.event_type.capitalize %>
        </p>
        <p class =showpage-texts> <strong>Bio:</strong> <%= @superstar.bio %>
        </p>
        <h2 class =showpage-texts><strong>Price: </strong>€ <%= @superstar.price %>
      </h2>
      <p class =showpage-texts><strong>Available in:</strong> <%= @superstar.region %>
    </p>
    <br>
        <%= link_to '← Back to Starhunt', superstars_path, class: " go-back-arrow"%>
    </div>

  <div>
  <div class ="forms-right">
    <h4 class =showpage-texts><strong>When will <%= @superstar.name %> attend your <%= @superstar.event_type%>?</strong>
      <%= simple_form_for([@superstar, @booking]) do |f| %>
        <%= f.input :event_date %> </h4>
      <br>
          <p><%= f.submit "BOOK SUPERSTAR", class: 'btn confirm-book' %></p>
        <% end %>
    <br>
    <br>
    <br>
    <br>
    </div>
  </div>
  </div>
  <div class="container center-review">
  <h4 style="text-align:center" class="review-text">Review <%= @superstar.name %>'s Services:</h4>
  </div>

  <div class="container">
  <%= simple_form_for [@superstar, @review] do |f| %>
    <p class =review-mini-texts><%= f.input :content %>
    <%= f.input :rating %></p>
    </div>
      <div class="container center-review">
      <%= f.submit class: 'btn btn-review' %>
      </div>
  <% end %>

<br>

<div class="container center-review">
<h4 class="review-text">Previous Reviews</h4>
</div>
<div class=container>
  <ul class="list-group">
  <% @superstar.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
  </ul>
  <br>
</div>



</html>
