<h3><%= @superstar.name %></h3>
<p><%= @superstar.event_type %></p>
<p><%= @superstar.availabilities %></p>
<p><%= @superstar.bio %></p>
<p><%= @superstar.price %></p>
<p><%= @superstar.region %></p>
<br>
<%= link_to 'Make a Booking', new_superstar_booking_path(@superstar)%>
<br>
