<html>
  <div class="container center-text">
    <h4 class="booking-title"> <%= @superstar.name.upcase %>
    </h4>
        <%= image_tag @superstar.image_url, class: "avatar-large mb-4", alt: "avatar-large" %>
        <p class =showpage-texts> <strong>Event Type:</strong> <%= @superstar.event_type.capitalize %>
        </p>
        <p class =showpage-texts> <strong>Bio:</strong> <%= @superstar.bio %>
        </p>
        <h2 class =showpage-texts><strong>Price: </strong>€ <%= @superstar.price %>
      </h2>
      <p class =showpage-texts><strong>Available in:</strong> <%= @superstar.region %>
    </p>
  <br>

    <h4 class =showpage-texts><strong>When would you want <%= @superstar.name %> to attend your <%= @superstar.event_type%>?</strong>
      <%= simple_form_for([@superstar, @booking]) do |f| %>
        <%= f.input :event_date %> </h4>
          <p><%= f.submit "BOOK SUPERSTAR", class: 'btn confirm-book' %></p>
        <% end %>
    <%= link_to '← Back to Starhunt', superstars_path, class: " go-back-arrow"%>
  </div>


  <h1>Add review for <%= @superstar.name %></h1>

  <%= simple_form_for([@superstar, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>

<br>

  <ul class="list-group">
  <% @superstar.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
  </ul>
  <br>
</div>

</html>