<div class="container d-flex justify-content-end">
  <%= link_to 'Create Superstar', new_superstar_path, class:'btn btn-dark mt-5 mb-5'%>
</div>

<div class="container container-dashboard mb-4">

  <div class="dashboard-section">
    <h3>My Superstars</h3>
      <div class="">
        <% @superstars.each do |superstar| %>
          <div class="card mt-4" style="width: 18rem;">
            <%= image_tag superstar.image_url, class: "card-img-top" %>
            <div class="card-body">
              <div class="card-title">
                <h5><%= superstar.name  %></h5>
                <p class="card-text"> <%= superstar.event_type %> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="dashboard-section">
    <h3> My Bookings</h3>
      <div class="">
        <% @bookings.each do |booking| %>
          <div class="card mt-4" style="width: 18rem;">
            <%= image_tag booking.superstar.image_url, class: "card-img-top" %>
            <div class="card-body">
              <div class="card-title">
                <h5><%= booking.superstar.name %></h5>
                <p class="card-text"> <%= booking.superstar.event_type %> </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>

</div>
