<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://images.unsplash.com/photo-1460723237483-7a6dc9d0b212?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1 class="mb-5">Find a celebrity to attend <br>your event</h1>
    <%= link_to 'Starhunt', superstars_path, class:'btn home-starhunt'%>
    <%= link_to 'Create Star', superstars_path, class:'btn home-create'%>
  </div>
</div>

<br>
<br>


<h1 class="container text-center mb-5">Featured</h1>
<div class="container d-flex justify-content-center" >
  <div class="d-flex justify-content-center">
    <div class="row">
      <% @superstars.first(3).each do |superstar| %>
        <div class="card mr-5" style="width: 18rem;">
          <%= image_tag superstar.image_url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= superstar.name %></h5>
            <p class="card-text"> <%= superstar.event_type %> </p>
            <%= link_to 'Pick Me!', superstar, class:"btn btn-dark"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>


<div class="container">
<%= link_to superstars_path(utf8: "✓" , :query => "wedding", button: ""), style: "text-decoration: none;" do %>
  <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80)">
    Wedding
  </div>
<% end %>
<%= link_to superstars_path(utf8: "✓" , :query => "birthday", button: ""), style: "text-decoration: none;" do %>
  <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502035618526-6b2f1f5bca1b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlydGhkYXl8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
    Birthday
  </div>
<% end %>
<%= link_to superstars_path(utf8: "✓" , :query => "honeymoon", button: ""), style: "text-decoration: none;" do %>
    <div class="card-category mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1576158831003-d41033ec31fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2940&q=80)">
    Honeymoon
  </div>
<% end %>
<%= link_to superstars_path(utf8: "✓" , :query => "party", button: ""), style: "text-decoration: none;" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571456331030-a1369bc759dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80)">
    Party
  </div>
<% end %>
<br>
<br>
  <div class="d-flex justify-content-center mb-5">
  <%= link_to 'ALL SUPERSTARS ☞', superstars_path, class:'btn btn-rgba'%>
  </div>
</div>
</div>
